[submodule "CRUD_PHPNative_059_Proyek3"]
	path = CRUD_PHPNative_059_Proyek3
	url = https://github.com/Ridhoss/CRUD_PHPNative_059_Proyek3.git
[submodule "CRUD_CI4_059_Proyek3"]
	path = CRUD_CI4_059_Proyek3
	url = https://github.com/Ridhoss/CRUD_CI4_059_Proyek3.git
